<link href="../modules/addons/PortForward/static/css/jquery-confirm.css" rel="stylesheet" />

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">端口转发管理</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class=""><a href="javascript:void(0)" data-href="addonmodules.php?module=PortForward&page=dashboard" data-page="dashboard">首页</a></li>
                <li class=""><a href="javascript:void(0)" data-href="addonmodules.php?module=PortForward&page=port_management" data-page="port_management">端口管理</a></li>
                <li class=""><a href="javascript:void(0)" data-href="addonmodules.php?module=PortForward&page=node_management" data-page="node_management">节点管理</a></li>
                <li class=""><a href="javascript:void(0)" data-href="addonmodules.php?module=PortForward&page=service_management" data-page="service_management">服务管理</a></li>
                <li class=""><a href="javascript:void(0)" data-href="addonmodules.php?module=PortForward&page=setting" data-page="setting">设置</a></li>
                <li class=""><a href="javascript:void(0)" data-href="addonmodules.php?module=PortForward&page=about" data-page="about">关于</a></li>
            </ul>
        </div>
    </div>
</nav>


<script type="text/javascript">
    $("#contentarea h1:first").remove();
</script>